@import url('https://fonts.googleapis.com/css?family=Cuprum:400,700,700i|PT+Sans:400,700&subset=cyrillic');
html {
	box-sizing: border-box;
}
*, *::before, *::after { box-sizing: inherit;
}
body {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}
img {
	max-width: 100%;
	height:auto;
}
a {
	text-decoration: none;
}
.inner {
	width: 940px; 
	margin: 0 auto; 
	padding: 0 10px;
}

.visually_hidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.main_header {
	background: #f3f7f8;
}

.top_nav {
	background-color: #293449;
	font-size: 17px;
	line-height: 18px;
}
.main_header_logo img {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	background-color: #ee3643;
}
.main_header_logo a {
	background-image: url(../img/logo-technomart.svg);
}
.main_header_logo img:hover {
	background: #ca2c37;
}
.main_header_logo img:active {
	background: #ba2732;
}

/*TOP_NAV*/
.top_nav a{
	color: #ffffff;
}
.top_nav form{
	color: #ffffff;
}
.top_nav input {
	background-image: url(../img/icon-search-main.svg);
	background-repeat: no-repeat;
	background-color: #293449;
	border: none;
	width: 220px;
}
.top_nav .bookmarks {
	background-image: url(../img/icon-bookmark-main.svg);
	background-repeat: no-repeat;
	width: 140px;
}
.bookmarks a:hover {
	background-image: url(../img/icon-bookmark.svg);
	background-repeat: no-repeat;
}
.bookmarks a:active {
	background-image: url(../img/icon-bookmark-active.svg);
	background-repeat: no-repeat;
}
.top_nav .cart {
	background-image: url(../img/icon-cart-main.svg);
	background-repeat: no-repeat;
	width: 140px;
}
.cart a:hover {
	background-image: url(../img/icon-cart.svg);
	background-repeat: no-repeat;
}
.cart a:active {
	background-image: url(../img/icon-cart-active.svg);
	background-repeat: no-repeat;
}
.top_nav .order {
	background-color: #63a63e;
	width: 160px;
}
.order a:hover {
	background-color: #5fbb2d;
}
.order a:active {
	background-color: #518534;
}

.bookmarks a:hover,
.cart a:hover,
.search input:hover {
	background-color: #212a3a; 
}
.bookmarks a:active,
.cart a:active {
	background-color: #161d29;
}
.order a:hover {
	background-color: #5fbb2d;
}
.order a:active {
	background-color: #518534;
}
.search input:focus {
	background-color: #ffffff;
	color: #000000;
}
.search input:hover {
	background-image: url(../img/icon-search.svg);
}
.search input:active {
	background-image: url(../img/icon-search-active.svg);
}
.search input:focus {
	background-image: url(../img/icon-search-focus.svg);
}
/*header_contacts*/
.header_contacts h1 {
	font-family: "Cuprum", Arial, sans-serif;
	font-style:italic;
	font-size: 16px;
	line-height: 23px;
	text-transform:lowercase;
	color: #ee3643;
}
.connection a {
	background-image: url(../img/icon-phone.svg);
	background-repeat: no-repeat;
	color: #ee3643;
	border: solid 3px #ffffff;
}
.connection p {
	color: #32425c;
	font-size: 14px;
	line-height: 24px;
	text-transform:uppercase;
}
.user_registration a {
	background-color: #ffffff;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	border: none;
}
.user_registration a:first-child {
	background-image: url(../img/icon-login.svg);
	background-repeat: no-repeat;
	width: 20px;
	height: 17px;
}
.user_registration a:first-child:hover {
	background-image: url(../img/icon-login-hover.svg);
	background-repeat: no-repeat;
	width: 20px;
	height: 17px;
}
.user_registration a:first-child:active {
	background-image: url(../img/icon-login.svg);
	background-repeat: no-repeat;
	width: 20px;
	height: 17px;
}
.user_registration a:hover {
	color: #ee3643;
}
.user_registration a:active {
	color: #cacaca;
}
/*NAV*/
.main_nav {
	background-color: #f3f7f8;
	font-size: 17px;
	line-height: 17px;
}
.main_nav a {
	color: #ffffff;
}
.main_nav li {
	background-color: #32425c;
	list-style: none;
}
.main_nav li:hover {
	background-color: #293449;
}
.main_nav li:active {
	background-color: #1d2739;
}
/*MAIN*/
.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}
.about_company .btn,
.contacts .btn{
	font-family: "Cuprum", Arial, sans-serif;
	background-color: #ee3643;
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	border: none;
}
.about_company h2,
.contacts h2 {
	font-size: 30px;
	line-height: 30px;
	font-family: "Cuprum", Arial, sans-serif;
}
.contacts, .about_company p {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}
.partnership li {
	font-size: 18px;
	line-height: 20px;
	list-style: none;
}
/*FOOTER*/
.main_footer {
	background-color: #293449;
}
.footer_top {
	background-color: #32425c;
}
.footer_top_1,
.footer_top_2 {
	background-color: #32425c;
	font-size: 18px;
	line-height: 24px;
}
.footer_navigation_list li {
	list-style: none;
}
.footer_navigation_list li:hover ,
.merchandise li:hover {
	text-decoration: underline;
}
.footer_navigation_list a {
	color: #f1f5f7;
}
.footer_navigation_list a:active {
	color: #a4abb4;
}
.footer_top_2 p {
	color: #f1f5f7;
}
.merchandise li {
	list-style: none;
}
.merchandise a {
	color: #f5ca7e;
}
.merchandise a:active {
	color: #ad956f;
}


.footer_contacts {
	background-color:#293449;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.social_media img {
	background-color: #212a3a;
	width: 26px;
	height: 15px;
	background-repeat: no-repeat;
	color: #ffffff;
}
.social_media img:hover {
	background-color: #ee3643;
}
.feedback a {
	color: #e0b976;
}
.feedback a:active {
	color: #e53643;
}


/*INNER*/
.user a {
	background-image: url(../img/icon-user.svg);
	background-image: url(../img/icon-login.svg);
	background-color: #ffffff;
	font-size: 20px;
	line-height: 18px;
	color: #000000;
	border: none;
	background-repeat: no-repeat
}
.user a:hover {
	background-image: url(../img/icon-user-hover.svg);
	background-image: url(../img/icon-login-hover.svg);
	background-color: #ffffff;
	font-size: 20px;
	line-height: 18px;
	color: #000000;
	border: none;
	background-repeat: no-repeat
}
.user a:active {
	color: #c5c5c5;
}
.personal li {
	text-decoration: underline;
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
}
.personal li:first-child {
	list-style: none;
}
.personal a:hover {
	color: #ee3643;
}
.personal a:active {
	color: #c5cad0;
}
.inner_links {
	font-family: "PT Sans", Arial, sans-serif;
	color: #000000;
	font-size: 13px;
	line-height: 18px;
}
.inner_links li {
	list-style: none;
	background-image: url(../img/icon-right-small.svg);
	background-repeat: no-repeat;
}
.inner_links li:first-child {
	background-image: none;
}
.catalog h2 {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	background-color: #f2f6f8;
	margin-bottom: 80px;
}

.maker {
	font-family: "PT Sans", Arial, sans-serif;
}
.maker label {
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
}
.maker input {
	font-size: 15px;
	line-height: 20px;
}
.type {
	font-family: "PT Sans", Arial, sans-serif;
}
.type p {
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
}
.type input {
	font-size: 15px;
	line-height: 20px;
}
.type button {
	font-size: 15px;
	line-height: 20px;
	background: #fff;
	border: 1px solid #e5e5e5;
}
.product {
	list-style: none;
}
.product li {
	border: 1px solid #e5e5e5;
}
.product li h3 {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 18px;
	line-height:20px;
	font-weight: bold;
}
.catalog p {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
}
.catalog.price {
	color: #999999;
	text-decoration: line-through;
}
 .catalog.discount_price {
	background-image: url(../img/red-button.svg);
	color: #fff;
}

/*СЕТКИ*/

.top_nav .inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.top_nav {
	margin: 0;
	padding: 0;
}
.header_contacts {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header_contacts h1,
.header_contacts .connection,
.header_contacts .user_registration 
.header_contacts .user_account{
	width: 300px;
}
.main_nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
}
.main_nav .nav_item {
	width: 100%;
}
.container {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}
.footer_top_1,
.footer_top_2 {
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.footer_navigation_list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 570px;
	margin: 0;
	padding: 0;
}
.merchandise {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 550px;
}
.footer_contacts {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main_filter {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main_filter .filter {
	width: 230px;
}
.catalog .product {
	display: flex;
	align-items: stretch;
	align-content: stretch;
	flex-wrap: wrap;
}
.catalog {
	width: 700px;
}
.product .product_item {
	width: 220px;
}

/*margin*/

.header_contacts {
	margin-bottom: 40px;
}
.top_nav {
	margin-bottom: 45px;
}
.main_nav {
	margin-bottom: 60px;
}
.main_header {
	padding:1px 0;
}









